<h1>View projects</h1>
{{#each items}}
 <p>{{this.title}}</p>
{{/each}}
<a href="/new">Create new project</a>
<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
